@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "_configuration/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
// Подключить если есть локальные файлы шрифтов
//@import "_configuration/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Montserrat', sans-serif;
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета
$lineHeight: 1.2;
// Основные цвета
$mainColor: #0D2839; // Цвет шрифта по умолчанию
//светлые
$color_1: #FFFFFF;
$color_2: #F6F7F9;
$color_3: #C4C4C4;

//темные
$color_4: #64AF59;
$color_5: #414042;
$color_6: #FAB543;


$link-img: '../';
// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "_configuration/null";

body {
  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}
p{
  line-height: 1.5;
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Сайт загружен
  .loaded & {
  }
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
  // Отзывчивая
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // По брейк-поинтам
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

.vs--open.mainForm-select{

  #vs1__listbox{
      display: block !important;
      z-index: 50 !important;
  }
}

// стили заголовков, кнопок, списков
@import "_configuration/originStyle";

//библтотеки
@import "libs/swiper";
@import "libs/nouislider";
@import "libs/simplebar";

// Подключение базовых стилей из _basice
@import "_basice/header";
@import "_basice/menu";
@import "_basice/footer";
//@import "_basice/crumbs";
//@import "_basice/title";
//@import "_basice/pagging";
@import "_basice/popup";



// Подключение базовых для () стилей из _ui
//календарь
//@import "_ui/datepicker";
//галерея
//@import "_ui/lightgallery";
//селект
@import "_ui/select";
//@import "_ui/selectMultiple";
//сщетчик у товара
//@import "_ui/quantity";
//радио кнопки
//@import "_ui/radio";
//checkbox
//@import "_ui/checkbox";
//рейтинг
//@import "_ui/rating";
//показать больше
//@import "_ui/showmore";
//споллеры
@import "_ui/spoller";
//табы
//@import "_ui/tabs";
//описание товаров
//@import "_ui/tippy";
