.footer {
  @include adaptiveValue(padding-top, 60, 30);
  @include adaptiveValue(padding-bottom, 60, 30);
  background-color: $color_4;
  color: $color_1;


  &__container {
    display: grid;
    grid-gap: 30px;
    @include mq('tablet-wide') {
      grid-template-columns: auto auto 100px auto;
      align-items: center;

      .full {
        grid-column: span 6;
        text-align: center;
        border-top: 1px solid $color_1;
        padding-top: 20px;
      }
    }
  }

  &__link {
    @include maq('tablet-wide') {
      svg {
        width: 200px !important;
      }
    }
  }

  a {
    cursor: pointer;

    &:hover {
      color: $color_6;
    }
  }
  &__group{
    display: flex;
    gap: rem(20);
    align-items: center;
  }
  .select_language{
    @include maq('tablet') {
      width: 100px;
    }
  }
}
