body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup_show {
  visibility: visible;
  overflow: auto;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;


  .lock & {
    visibility: visible;
  }
}


//callback
.callback {

  &-content {
    border-radius: 4px;
    max-width: 522px;
    background-color: $color_1;
    @include adaptiveValue(padding, 60, 30);
  }

  &__body {
    display: grid;
    grid-gap: rem(10);
  }

  &__form {
    display: grid;
    grid-gap: rem(30);

    p{
      @include adaptiveValue(font-size, 16, 14);
      font-weight: 300;
      margin-bottom: 10px;
    }

    .input{
      border-color: #CECFCF;
    }
  }

  &__title {
    @include adaptiveValue(font-size, 24, 24);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2;
  }

  &__description {
    @include adaptiveValue(font-size, 16, 15);
    font-weight: 300;
    line-height: 1.5;
    @include adaptiveValue(margin-bottom, 20, 15);
  }
  &__btn{
    @include maq('tablet') {
      width: 100%;
    }
  }
}

.Application{

  .popup__close{
    outline: none;
  }

  &-content{
    background-color: $color_1;
    max-width: rem(410);
    border: 1px solid $color_4;
  }

  &-body{
    display: grid;
    grid-gap: rem(12);
    justify-items: center;

    &__title{
      color: $color_4;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__description{
      font-style: italic;
      text-align: center;
    }
  }

  &-form{
    display: grid;
    grid-gap: rem(16);
    margin-top: rem(15);
    .input{
      &::placeholder{
        font-size: 14px;
      }
    }
    .radio{
      display: flex;
      gap: rem(10);
      align-items: center;

      input[type=radio] {
        display: none;
      }
      label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 0;
        line-height: 18px;
        user-select: none;

        &:before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          position: absolute;
          border: 1px solid $color_3;
          border-radius: 50%;
          left: 0;
          bottom: 1px;
        }
      }
      input[type=radio]:checked + label {
        &:before {
          border: 1px solid $color_4;
        }
        &:after{
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          position: absolute;
          background-color: $color_4;
          border-radius: 50%;
          left: 4px;
          bottom: 5px;
        }
      }
    }
    button{
      margin-top: rem(26);
    }
  }
}

.Thanks{

  .popup__close{
    outline: none;
  }
  &-content{
    background-color: $color_1;
    max-width: rem(410);
    border: 1px solid $color_4;
  }
  &-body{
    display: grid;
    grid-gap: rem(12);
    justify-items: center;

    &__title{
      color: $color_4;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__description{
      font-style: italic;
      text-align: center;
    }
  }
}
