// <SELECT>
// Снипет (HTML): sel
.select {
  position: relative;
  // .select__body
  &__body {
    position: relative;
  }

  // .select__title
  &__title {
    color: inherit;
    text-align: left;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }

  // .select__value
  &__value {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0px 28px 0 15px;
    justify-content: space-between;
    flex-direction: row-reverse;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 7px;
      top: 50%;
      background-color: $color_6;
      height: 2px;
      width: 10px;
      transition: transform 0.5s ease 0s;
    }

    &::before {
      transform: translate(-75%, -50%) rotate(40deg);
    }

    &::after {
      transform: translate(0, -50%) rotate(-40deg);
    }

    ._select-open & {
      &::before {
        transform: translateX(-75%) rotate(-40deg);
        background-color: $color_6;
      }

      &::after {
        transform: rotate(40deg);
        background-color: $color_6;
      }
    }

  }

  // .select__text
  &__text {
    flex: 1 1 auto;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }

  // .select__options
  &__options {
    color: #000;
    position: absolute;
    top: 29px;
    border-radius: 0 0 4px 4px;
    min-width: 100%;
    left: 0;
    background-color: #fff;
    border-top: 0;
    border: 1px solid #d9d9d9;
    border-top: 0;
    padding: 10px 0px 5px 0px;
  }

  // .select__scroll
  &__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    // Максимальная высота
    max-height: 200px;
    // Стили скроллбара
    .simplebar-scrollbar {
      &::before {
        //opacity: 1;
      }
    }
  }

  // .select__option
  &__option {
    width: 100%;
    display: block;
    text-align: left;
    cursor: pointer;
    padding: 5px 15px;
    color: inherit;

    &._select-selected {
      background-color: #eee;
    }

    @media (any-hover: hover) {
      &:hover {
        background: #d9d9d9;
      }
    }
  }

  // Конструкция дополнительных данных
  &__row {
    display: inline-flex;
    align-items: center;
  }

  &__asset {
  }

  &__text {
  }

  // Состояния селекта
  &._select-open {
    z-index: 5;
  }

  &._select-disabled {
  }

  &._select-active {
  }

  &._select-focus {
  }

  &._select-multiple {
  }

  &._select-checkbox {
  }
}

// Тег
._select-tag {
  cursor: pointer;
}


//language
.select_language {
  .select__body {
    position: relative;
    width: fit-content;

    @include maq('tablet') {
      min-width:rem(153);
    }
  }
  .select__value{
    padding: 8px 30px 8px 15px;
    height: 36px;
    &:after,&:before{
      background-color: $color_1;
      right: 5px;
    }
  }
  .select__content {
    width: 100%;
    .select__asset {
      img {
        max-width: rem(38);
      }
    }
    .select__row{
      flex-direction: row-reverse;
      gap: rem(30);
      justify-content: space-between;
      width: 100%;
    }
    .select__text{
      color: $color_1;
      @include mq('tablet') {
        display: none;
      }
    }
  }
  .select__options {
    top: 31px;

    .select__asset {
      img {
        max-width: rem(38);
      }
    }
    .select__row{
      flex-direction: row-reverse;
      gap: rem(10);
      justify-content: space-between;
      width: 100%;
      padding-right: 13px;
    }
    .select__text{

      @include mq('tablet') {
        display: none;
      }
    }
  }
  .select__title{
    background-color: transparent;
    border: none;
  }
  &._select-open{
    .select__title{
      background-color: $color_1;

      .select__value{
        &:before,&:after{
          background-color:$mainColor;
        }
      }
    }
    .select__content{
      .select__text{
        color: $mainColor;
      }
    }
  }
}


